.header {
    position: relative;
    display: flex;
    align-items: center;
}

.home {
    position: absolute;
    left: 0;
}

h1 {
    margin: 0 auto;
    text-align: center;
    color: green;
}

.icon {
    height: 70px;
    width: auto;
    vertical-align: middle;
}

h2 {
    text-align: center;
    font-size: 40px;
}

a {
    font-size: 20px;
    display: block;
}

p, h3 {
    font-size: 20px;
}

.bloco {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    gap: 40px;
}

.listas {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.imagem {
    width: 500px;
    height: auto;
    clip-path: circle(50%);
}

.main {
  margin: 0;
  min-height: 100vh;
  background-image: url("images/recipes.JPEG");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;  
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
}